<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Nova Rate Component</title>

    <script type="module" src="/build/nova-rate.esm.js"></script>
    <script nomodule src="/build/nova-rate.js"></script>
  </head>
  <body>
    <nova-rate allow-clear allow-half default-value="2.5"></nova-rate>

    <script>
      window.onload = function() {
        // let rating = document.querySelector("nova-rate");
        // rating.shadowRoot.children.item(1).focus();
        // rating.focusComponent();
        // rating.addEventListener("onChange", function(event) {
        //   console.log(event.detail);
        // });
        // rating.addEventListener("onBlur", function(event) {
        //   console.log(event);
        // });
        // rating.addEventListener("onKeyDown", function(event) {
        //   console.log(event);
        // });
        // rating.addEventListener("onFocus", function(event) {
        //   console.log(event);
        // });
        // rating.addEventListener("onHoverChange", function(event) {
        //   console.log(event);
        // });
      };
    </script>
  </body>
</html>
