/* Remove default bullets */
ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
  list-style-type: none;
  margin: 4px 0px;
  cursor: pointer;
  font-size: 14px;
}

/* Remove margins and padding from the parent ul */
#topLevelUL {
  margin: 0;
  padding: 0;
}
