// nova-tree-node {
//   display: block;
//   width: 100%;
// }

li {
  display: block;
}

.caretsecret {
  display: inline-block;
  padding-left: 18px;
  background: none;
}
/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  /* Create the caret/arrow with a unicode, and style it */
  &::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  &::before {
    transform: rotate(90deg);
  }
}

/*
.selected {
  padding: 1px 2px;
  border-radius: 2px;
  //  background-color: #96b6f5;
  background-color: #ac6310;
}
*/
.this-label > span.selected {
  border-radius: 2px;
  background-color: #96b6f5;
}

.wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.this-label {
  display: block;
  width: 100%;
  left: 14px;
  top: 0;
  position: absolute;
}

.this-label > span {
  display: block;
  left: 30px;
  top: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 1px 2px;
  transition: all 0.07s ease-in;
  user-select: none;
}

.this-label > span.blockNode {
  width: calc(100% - 40px);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
