*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 260px;
    padding: 20px 14px;
    color: #595959;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.item {
    display: block;
    padding: 6px 10px;
    transition: all 0.2s linear;
}

.item:hover {
    background-color: rgba(230,247,255);
    cursor: pointer;
}

.item input {
    margin-right: 8px;
}

.switch {
    width: 30px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.switch button {
    width: 100%;
    margin: 3px 0;
    background-color: #f5f5f5;
    border: solid 1px rgba(0,0,0,0.15);
    border-radius: 4px;
    color: #bdbdbd;
    padding: 4px 0;
    transition: all 0.2s linear;
}

.column {
    width: 200px;
    height: 100%;
    border: solid 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.column-header {
    border-bottom: solid 1px rgba(0,0,0,0.15);
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

.items-container {
    height: calc(100% - 42px); 
    display: flex;
    flex-direction: column;
}

.items {
    overflow: scroll;
    overflow-x: hidden;
}

button.btn-active {
    background-color: #1890ff;
    color: #ffffff;
}

.item.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: none;
}

.item.disabled input[type='checkbox']{
    cursor: not-allowed;
}

.search-container {
    width: 100%;
}

.search-container input {
    width: 85%;
    margin: 10px auto;
    display: block;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 6px;
    padding: 5px 7px;
}

.search-container input:focus {
    border-radius: 6px;
}