*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.highlight {
    animation: highlight 1s;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    height: 250px;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 20px 14px;
    color: #595959;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.container.disabled .items-container {
    background-color: #f5f5f5;
}

.container.disabled .item {
    opacity: 1;
}

.container.disabled .operation-buttons button {
    cursor: not-allowed;
    background-color: #f5f5f5;
    color: #595959;
}

.container.disabled .operation-buttons button:focus {
    outline: none; 
}

.item {
    display: block;
    padding: 6px 10px;
    transition: all 0.2s linear;
}

.item:hover {
    background-color: rgba(230,247,255);
    cursor: pointer;
}

.item input {
    margin-right: 8px;
}

.operation-buttons {
    min-width: 30px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.operation-buttons button {
    width: 100%;
    margin: 3px 0;
    background-color: #f5f5f5;
    border: solid 1px rgba(0,0,0,0.15);
    border-radius: 4px;
    color: #bdbdbd;
    padding: 4px 5px;
    transition: all 0.2s linear;
}

.column {
    width: 220px;
    height: 100%;
    border: solid 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/*
.column > * {
    outline: 2px solid purple;
}
*/
.column-header {
    border-bottom: solid 1px rgba(0,0,0,0.15);
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

.empty-msg {
    display: none;
}

.items-container {
 /*   height: calc(100% - 42px); */
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 6;
    flex-shrink: 6;
    overflow: hidden;
}

.items-container.empty::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNDEiIHZpZXdCb3g9IjAgMCA2NCA0MSIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxlbGxpcHNlIGZpbGw9IiNGNUY1RjUiIGN4PSIzMiIgY3k9IjMzIiByeD0iMzIiIHJ5PSI3Ii8+CiAgICA8ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0iI0Q5RDlEOSI+CiAgICAgIDxwYXRoIGQ9Ik01NSAxMi43Nkw0NC44NTQgMS4yNThDNDQuMzY3LjQ3NCA0My42NTYgMCA0Mi45MDcgMEgyMS4wOTNjLS43NDkgMC0xLjQ2LjQ3NC0xLjk0NyAxLjI1N0w5IDEyLjc2MVYyMmg0NnYtOS4yNHoiLz4KICAgICAgPHBhdGggZD0iTTQxLjYxMyAxNS45MzFjMC0xLjYwNS45OTQtMi45MyAyLjIyNy0yLjkzMUg1NXYxOC4xMzdDNTUgMzMuMjYgNTMuNjggMzUgNTIuMDUgMzVoLTQwLjFDMTAuMzIgMzUgOSAzMy4yNTkgOSAzMS4xMzdWMTNoMTEuMTZjMS4yMzMgMCAyLjIyNyAxLjMyMyAyLjIyNyAyLjkyOHYuMDIyYzAgMS42MDUgMS4wMDUgMi45MDEgMi4yMzcgMi45MDFoMTQuNzUyYzEuMjMyIDAgMi4yMzctMS4zMDggMi4yMzctMi45MTN2LS4wMDd6IiBmaWxsPSIjRkFGQUZBIi8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center center; 
}

footer {
    border: 1px solid rgba(0,0,0,0.1);
}

.items-container.empty .empty-msg {
    position: absolute;
    display: block;
    z-index: 999;
    top: 73%;
    transform: translateX(50%);
    color: #dcdcdc;
    width: 100%;
}

.items {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

button.btn-active {
    background-color: #1890ff;
    color: #ffffff;
}

.item.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: none;
}

.item.disabled input[type='checkbox']{
    cursor: not-allowed;
}

.search-container {
    width: 100%;
    z-index: 999;
}

.container.disabled .search-container {
    background-color: #f5f5f5;
}

.container.disabled .search-container input {
    background-color: #f5f5f5;
}

.container.disabled .search-container input:hover {
    cursor: not-allowed;
}

.search-container input {
    width: 85%;
    margin: 10px auto;
    display: block;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 6px;
    padding: 5px 7px;
}

.search-container input:focus {
    border-radius: 6px;
}

.nova-checkbox {
    margin-right: 7px;
    margin-top: -1px;
    display: none;
}

@keyframes highlight {
    0% {
      background-color: rgba(24, 144, 255, 0.2);
    }
    100% {
        background-color: white;
    } 
}